application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

services:
	- Mathematicator\Engine\QueryNormalizer
	- Mathematicator\Numbers\NumberFactory
	- Mathematicator\NumberRewriter
	- Mathematicator\Tokenizer\Tokenizer
	- Mathematicator\Tokenizer\TokensToLatex
	- Mathematicator\Tokenizer\TokensToObject
	router: App\RouterFactory::createRouter
